Repository WFCD/worldstate-emitter: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

.lintstagedrc.yml:

"*.{ts,js}":
  - biome check --write --no-errors-on-unmatched
package*.json:
  - biome check --write --no-errors-on-unmatched
  - npm dedupe
  - npx sort-package-json
"*.{json,yml,yaml}":
  - biome check --write --no-errors-on-unmatched

ci: too many integration runs
  .github/workflows/integration-tests.yml
Due: biome check --write --no-errors-on-unmatched

ci: no wg on unit tests
  .github/workflows/ci.yaml
Due: biome check --write --no-errors-on-unmatched

docs: update types for docs (#456)
  .github/workflows/ci.yaml
  .github/workflows/integration-tests.yml
  .gitignore
  handlers/events/checkOverrides.ts
  handlers/events/cycleLike.ts
  handlers/events/objectLike.ts
  handlers/events/parse.ts
  handlers/events/types.ts
Due: biome check --write --no-errors-on-unmatched

ci: unit on release for now
  .github/workflows/release.yaml
Due: biome check --write --no-errors-on-unmatched

fix: build winston to peer dep
  .github/workflows/ci.yaml
  .github/workflows/docs.yaml
  .github/workflows/integration-tests.yml
  .github/workflows/release.yaml
  package-lock.json
  package.json
  utilities/index.ts
Due: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  accb3cd4b0c0c1ff810b1acd96297b2529dffe24
Due: none

ci: maybe tests for integration
  .github/workflows/integration-tests.yml
  package-lock.json
  package.json
Due: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

ci: maybe tests for integration (#474)
  .github/workflows/integration-tests.yml
  package-lock.json
  package.json
Due: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

ci: destroy emitter in integration tests
  handlers/Worldstate.ts
  index.ts
  test/integration/access.spec.ts
  test/integration/worldstate.spec.ts
  test/specs/emitter.spec.ts
Due: biome check --write --no-errors-on-unmatched

ci: clarify test
  test/specs/emitter.spec.ts
Due: biome check --write --no-errors-on-unmatched

feat: destroy emitter, in integration tests (#475)
  handlers/Worldstate.ts
  index.ts
  test/integration/access.spec.ts
  test/integration/worldstate.spec.ts
  test/specs/emitter.spec.ts
Due: biome check --write --no-errors-on-unmatched

deploy: ffe6312fbd458cbb377fc3bd39a636dca2f521c4
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  ffe6312fbd458cbb377fc3bd39a636dca2f521c4
Due: none

deploy: f91bf24f0ee2736d4ebc52418a0d50f6ce0416e3
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

deploy: a54d212eec27a101aa4b422e5f5047965a007f83
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

deploy: f336d5f71040ea555b7027edf0557272c7295397
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

fix(output): dual esm/cjs output
  package.json
  tsdown.config.ts
Due: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

fix(output): split require/default
  package-lock.json
  package.json
Due: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

chore: udpate biome
  biome.json
Due: biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  49f0a14ae11012af9c13dd27fe31b4e1cc78b83d
Due: none

fix(timers): increase timers generally to avoid 429
  handlers/RSS.ts
  resources/rssFeeds.json
  types/rss-feed-emitter.d.ts
Due: biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  72b7064732d87410b0d871532c0f9fad6f9db40c
Due: none

fix: resimplify export
  package-lock.json
  package.json
  tsconfig.json
Due: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  98fb952a7fd87492c29eeff7deb05d4c370fe68f
Due: none

fix: default esm types
  tsdown.config.ts
Due: biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  508cda23f4bcb3e0b231166bc817b3c10564f202
Due: none

chore: migrate biome
  biome.json
  types/twitter.d.ts
Due: biome check --write --no-errors-on-unmatched

deploy: d921762c5564721317d2509e10adbc7dd522184c
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

deploy: 05481d688c362348961752389401e17bc90bf87e
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

deploy: e6330c58c788fae55824feaf111648fe9ddf8b2d
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

fix: clean up ts ignores
  .mocharc.yml
  package-lock.json
  package.json
  test/specs/arrayLike.spec.ts
  test/specs/checkOverrides.spec.ts
  test/specs/cronCache.spec.ts
  test/specs/eKeyOverrides.spec.ts
  test/specs/emitter.spec.ts
  test/specs/kuva.spec.ts
  test/specs/parse.spec.ts
  test/specs/rss.spec.ts
  test/specs/twitter.spec.ts
  test/specs/utilities.spec.ts
  test/tsconfig.json
  utilities/WSCache.ts
Due: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

fix: clean up ts ignores (#558)
  .mocharc.yml
  package-lock.json
  package.json
  test/specs/arrayLike.spec.ts
  test/specs/checkOverrides.spec.ts
  test/specs/cronCache.spec.ts
  test/specs/eKeyOverrides.spec.ts
  test/specs/emitter.spec.ts
  test/specs/kuva.spec.ts
  test/specs/parse.spec.ts
  test/specs/rss.spec.ts
  test/specs/twitter.spec.ts
  test/specs/utilities.spec.ts
  test/tsconfig.json
  utilities/WSCache.ts
Due: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  10bd6a57b0d8b7527ef770dbd7d613e5e81355c5
Due: none

feat: allow passing logger
  handlers/Twitter.ts
  handlers/Worldstate.ts
  index.ts
  test/specs/cronCache.spec.ts
  test/specs/emitter.spec.ts
  utilities/Cache.ts
  utilities/WSCache.ts
  utilities/index.ts
Due: biome check --write --no-errors-on-unmatched

fix: remove need for verbose
  handlers/Twitter.ts
  test/setup.ts
Due: biome check --write --no-errors-on-unmatched

feat: allow passing logger (#559)
  handlers/Twitter.ts
  handlers/Worldstate.ts
  index.ts
  test/setup.ts
  test/specs/cronCache.spec.ts
  test/specs/emitter.spec.ts
  utilities/Cache.ts
  utilities/WSCache.ts
  utilities/index.ts
Due: biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  142bdf683941a791ba26f05d9a481095f475ba25
Due: none

deploy: e164b7284f990d48ad2ecc3fbb6c177c8372b8c9
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

deploy: eea54c9779d890f6db9ce357786c891e12a7b0ac
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

ci: consolidate prs
  .github/dependabot.yml
Due: biome check --write --no-errors-on-unmatched
