Repository WFCD/worldstate-emitter: changes, and which lint-staged commands are due for each by the changed paths.
All: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

ci: pinact
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yaml
  .github/workflows/integration-tests.yml
  .github/workflows/release.yaml
  .pinact.yaml
Due: biome check --write --no-errors-on-unmatched

ci: conventional-commits-parser
  package-lock.json
  package.json
Due: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

ci: don't omit optional
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
Due: biome check --write --no-errors-on-unmatched

deploy: 1450bdad42b690fbd0fc1232687ae9f9502d966f
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

chore: missing peers
  package-lock.json
  package.json
Due: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  fb5281a19cf2799bfb718705d905e4c2bd6f66b8
Due: none

Notes added by 'git notes add'
  613d379e4e602ec9af0901f9b8c985c8de4464da
Due: none

ci: resolve peer errors
  package-lock.json
  package.json
Due: biome check --write --no-errors-on-unmatched, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  0add47e3e685867c59e80cdc91f3241d2bdd3c86
Due: none

deploy: ccb5d86c28bcc27ea7ec11935b73abdede33293f
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  ccb5d86c28bcc27ea7ec11935b73abdede33293f
Due: none

Notes added by 'git notes add'
  e7f6c8de306a0fa3a4bc59284a60554f9d3a1561
Due: none

deploy: 624a77c638d8b87d8980390338318ce87b564215
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

deploy: bf7b4c3f56d46ab500ea6f1dd4bc8febb9fbd0b7
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

Notes added by 'git notes add'
  bf7b4c3f56d46ab500ea6f1dd4bc8febb9fbd0b7
Due: none

deploy: 04c58d1c5a6f75bfeacc9409cedf3716f57694ee
  .nojekyll
  assets/hierarchy.js
  assets/highlight.css
  assets/icons.js
  assets/icons.svg
  assets/main.js
  assets/navigation.js
  assets/search.js
  assets/style.css
  classes/default.html
  hierarchy.html
  index.html
  modules.html
Due: biome check --write --no-errors-on-unmatched

Path conditions:
  biome check --write --no-errors-on-unmatched: ((any of: *.{ts,js}) or (any of: package*.json)) or (any of: *.{json,yml,yaml})
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
