Repository WFCD/worldstate-emitter: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --cache --fix, npm run test:staged, prettier --write, npm dedupe, npx sort-package-json

test: reorganize to check every few seconds up to 2 minutes
  .lintstagedrc.yml
  .mocharc.yml
  index.js
  nodemon.json
  package.json
  resources/config.js
  test/specs/access.spec.js
Due: eslint --cache --fix, npm run test:staged, prettier --write, npm dedupe, npx sort-package-json

ci: code review cleanup
  .mocharc.yml
  test/specs/access.spec.js
Due: eslint --cache --fix, npm run test:staged, prettier --write

fix: reorg ci, oidc (#439)
  .github/workflows/ci.yaml
  .github/workflows/codeql-analysis.yml
  .github/workflows/docs.yaml
  .github/workflows/release.yaml
  .mocharc.yml
  .releaserc.yml
  index.js
  nodemon.json
  package-lock.json
  package.json
  resources/config.js
  test/specs/access.spec.js
Due: eslint --cache --fix, npm run test:staged, prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  23fec56358f88fcc79c681c1e65f989fb974b552
Due: none

ci: fetch depth 0, commitlint last
  .github/workflows/release.yaml
Due: prettier --write

fix: general error handling w/ cache in emitter
  utilities/Cache.js
Due: eslint --cache --fix, npm run test:staged

Notes added by 'git notes add'
  11052e6e934e59d7f0620f7025914ccd89be7140
Due: none

chore: more tests
  .github/workflows/integration-tests.yml
  .mocharc.integration.yml
  .mocharc.yml
  handlers/events/parse.ts
  package.json
  test/README.md
  test/fixtures/rss.ts
  test/fixtures/worldstate.ts
  test/helpers/mocks.ts
  test/integration/access.spec.ts
  test/specs/cache.spec.ts
  test/specs/emitter.spec.ts
  test/specs/parse.spec.ts
  test/specs/rss.spec.ts
Due: prettier --write, npm dedupe, npx sort-package-json

chore: package regen
  package-lock.json
Due: prettier --write, npm dedupe, npx sort-package-json

chore: refactor twitter handling
  handlers/Twitter.ts
  package-lock.json
  package.json
  types/twitter.d.ts
Due: prettier --write, npm dedupe, npx sort-package-json

chore: refactor integration edge-case triggers
  .github/workflows/integration-tests.yml
Due: prettier --write

ci: restore versions
  .github/workflows/ci.yaml
Due: prettier --write

chore: refactor new packets
  handlers/RSS.ts
  handlers/Worldstate.ts
  handlers/events/arrayLike.ts
  handlers/events/cycleLike.ts
  handlers/events/eKeyOverrides.ts
  handlers/events/kuva.ts
  handlers/events/objectLike.ts
  handlers/events/parse.ts
  index.ts
  utilities/Cache.ts
  utilities/WSCache.ts
Due: none

chore: clean up types of eKeyOverrides
  handlers/events/checkOverrides.ts
  handlers/events/eKeyOverrides.ts
  handlers/events/types.ts
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

chore: typo
  handlers/events/eKeyOverrides.ts
Due: none

chore: clean up type defs
  handlers/events/kuva.ts
  handlers/events/objectLike.ts
  handlers/events/types.ts
  package-lock.json
  package.json
  utilities/index.ts
Due: prettier --write, npm dedupe, npx sort-package-json

chore: extra check for integration issue
  .github/workflows/integration-tests.yml
Due: prettier --write

chore: leak on timeout
  test/helpers/mocks.ts
Due: none

chore: contradictory non-null
  handlers/events/kuva.ts
  handlers/events/objectLike.ts
Due: none

chore: tweet safety
  handlers/RSS.ts
  handlers/Twitter.ts
Due: none

chore: update tsdown
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

docs: readme + integration test issue
  .github/workflows/integration-tests.yml
  README.md
Due: prettier --write

fix: santizize html
  handlers/RSS.ts
  package-lock.json
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

chore: tests
  .mocharc.integration.yml
  .mocharc.yml
  handlers/RSS.ts
  handlers/Twitter.ts
  package.json
  test/fixtures/rss.ts
  test/fixtures/twitter.ts
  test/helpers/mocks.ts
  test/integration/access.spec.ts
  test/setup.ts
  test/specs/arrayLike.spec.ts
  test/specs/checkOverrides.spec.ts
  test/specs/cronCache.spec.ts
  test/specs/eKeyOverrides.spec.ts
  test/specs/kuva.spec.ts
  test/specs/parse.spec.ts
  test/specs/rss.spec.ts
  test/specs/twitter.spec.ts
  test/specs/utilities.spec.ts
Due: prettier --write, npm dedupe, npx sort-package-json

chore: expose cleanup
  handlers/RSS.ts
  handlers/events/cycleLike.ts
  package-lock.json
  package.json
  test/specs/rss.spec.ts
Due: prettier --write, npm dedupe, npx sort-package-json

chore: tweet profile image safety
  handlers/Twitter.ts
Due: none

test: improve test coverage and add memory leak prevention
  package-lock.json
  package.json
  test/integration/worldstate.spec.ts
  test/specs/arrayLike.spec.ts
  test/specs/cronCache.spec.ts
  utilities/Cache.ts
Due: prettier --write, npm dedupe, npx sort-package-json

ci: full suite on release
  .github/workflows/ci.yaml
  .mocharc.integration.yml
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

ci: integration ref
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

feat: add HTTP error handling in Cache#fetch
  test/specs/cronCache.spec.ts
  utilities/Cache.ts
Due: none

ci: test passthrough
  test/integration/access.spec.ts
  test/integration/worldstate.spec.ts
Due: none

ci: coverage in release, not ci
  .github/workflows/ci.yaml
  .github/workflows/release.yaml
  package.json
Due: prettier --write, npm dedupe, npx sort-package-json

Notes added by 'git notes add'
  60aadc913d42973d2ba78e23f17626b853cb672e
Due: none

ci: verify before release
  .github/workflows/release.yaml
Due: prettier --write

ci: nvmrc integration tests
  .github/workflows/integration-tests.yml
Due: prettier --write

docs: update types for docs
  .github/workflows/ci.yaml
  .gitignore
  handlers/events/checkOverrides.ts
  handlers/events/cycleLike.ts
  handlers/events/objectLike.ts
  handlers/events/parse.ts
  handlers/events/types.ts
Due: prettier --write

Path conditions:
  eslint --cache --fix: any of: *.js
  npm run test:staged: any of: *.js
  prettier --write: (any of: package*.json) or (any of: *.{json,yml,yaml})
  npm dedupe: any of: package*.json
  npx sort-package-json: any of: package*.json
